.one-section {
    margin-top: 88px;
    box-sizing: border-box;
    height: 800px;
    background-image: url(../../../../img/profile/one-section-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .wrapper {
        height: inherit;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
        position: relative;

    }

    &__left {
        max-width: 567px;
        width: 100%;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;

        h1 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
        }

        h2 {
            font-size: 22px;
            line-height: 1.3;
            font-weight: 600;
        }

        h3 {
            font-size: 20px;
            font-weight: 600;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            line-height: 1.3;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }

        ul {
            list-style: disc;
            padding-left: 20px;
        }

        ol {
            list-style: decimal;
            padding-left: 20px;
        }

        strong, b {
            font-weight: 700;
        }

        a {
            text-decoration: underline;
        }

        .btn {
            margin: 40px 0;
        }
    }

    &__right {

        img {
            position: absolute;
            right: 23px;
            bottom: 27px;
            z-index: 0;
        }
    }
}

.our-works {
    margin: 181px 0 0;

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 39px 0;
    }

    &__item {
        width: 31.2%;
        background: linear-gradient(180deg, #53B7E8 0%, $blue 100%);
        border-radius: 4px;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__icon {
        height: 140px;
        display: flex;
        align-items: center;

        img {
            margin-top: 28px;
        }
    }

    &__description {
        color: $white;
        height: 214px;
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        margin: 0 11px 30px;
    }
}

.charts {
    padding: 140px 0 109px;
    min-height: 450px;

    .canvasjs-chart-credit {
        display: none;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &-left {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        label {
            font-size: 20px;
            line-height: 32px;
            max-width: 100%;
            display: block;
            padding-right: 0;
            margin-bottom: 0
        }

        .btn {
            margin-top: 52px;
        }

        .new-select {
            max-width: 400px;
            width: 100%;
        }
    }

    &-left {
        width: calc(100% - 665px);
    }

    #chart {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 10px;
            width: 100px;
            background: $white;
            left: 0;
            top: 0;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        width: 645px;
    }

    &-active {
        &, & * {
            color: #00A775;
        }

        .charts-round {
            border: 20px solid #00A775;
        }

        margin-right: 25px;
    }

    &-archive {
        &, & * {
            color: #014732;
        }
    }

    &-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 16px;
    }

    &-round {
        width: 309px;
        height: 309px;
        background-color: $white;
        border: 20px solid #014732;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 64px;
        line-height: 32;
        font-weight: bold;
    }
}

.join-us {
    padding: 40px 0 80px;
    box-sizing: border-box;
    background-image: url(../../../../img/profile/join-us-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__list {
        margin: 32px 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__info {
        margin: 0 0 18px 77px;
    }

    &__description {
        max-width: 190px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    &__item {
        max-width: 290px;
        height: 290px;
        width: 100%;
        background-image: url(../../../../img/profile/icons/polygon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -68px;
        position: relative;
        @media screen and (max-width: 1220px){
            max-width: 230px;
            height: 230px;
        }
        @media screen and (max-width: 1023px){
            max-width: 290px !important;
            height: 290px !important;
            &.join-us__item-3,
            &.join-us__item-4{
                margin-top: -100px !important;
            }
        }
        @media screen and (max-width: 767px){
            max-width: 290px !important;
            height: 290px !important;
            &.join-us__item-3,
            &.join-us__item-4{
                margin-top: 0 !important;
            }
        }
        img{
            max-width: 100%;
            width: 60%;
        }

        &:before {
            content: '';
            position: absolute;
            width: 137px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &:nth-child(1) {
            margin-left: 0;
        }

        &:nth-child(even) {
            margin-top: 157px;
        }
    }
}

.price {
    &-block {
        padding: 180px 0 0;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    &__item {
        max-width: 368px;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 2px 8px #E4E4E4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-checks {
            margin: 23px 0;
        }

        &-check {
            padding-left: 35px;
            box-sizing: border-box;
            position: relative;
            display: flex;
            align-items: center;
            line-height: 24px;
            color: #000000;
            margin: 16px 0;

            &:nth-child(1) {
                margin-top: 0;
            }

            &::before {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                background-image: url(../../../../img/profile/icons/check.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &-header {
            height: 93px;
            background: #53B7E8;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 47px;

            &::before {
                content: '';
                position: absolute;
                width: 52px;
                height: 52px;
                left: 50%;
                bottom: -32px;
                transform: translateX(-50%);
                background-image: url(../../../../img/profile/icons/price-item-arrow.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &-footer {
            height: 72px;
            border-radius: 0;
            width: 100%;
            font-size: 24px;
            line-height: 40px;
        }

        &-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            min-height: 56px;
            color: #000000;
        }

        &-info {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0;

            .price {
                font-size: 36px;
                line-height: 40px;
                color: #53B7E8;
            }
        }

        &.premium {
            span {
                color: $blue;
            }

            .price__item-header {
                background: $blue;

                &::before {
                    background-image: url(../../../../img/profile/icons/price-item-arrow-premium.svg);
                }
            }

            .price__item-footer {
                background: $blue;
                border-color: $blue;

            }

        }
    }


    &__inner {
        padding: 0 16px;
        box-sizing: border-box;

        span {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #53B7E8;
        }


        .select {
            margin: 4px 0 7px;
            border: 2px solid $black;
            color: $black;

            &::before {
                background-image: url(../../../../img/profile/icons/select-arrow-black.svg);
            }

            .jq-selectbox__dropdown {
                border: 2px solid $black;
            }

            .jq-selectbox__dropdown ul li,
            .jq-selectbox__select-text {
                color: $black;
            }
        }

    }

}


.about-us {
    padding: 140px 0 0;

    .description {
        margin: 39px 0 27px;
        max-width: 534px;
        width: 100%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 57.5%;
    }

    &__right {
        width: 40%;
    }


    &__slider {
        &-item {
            img {
                border-radius: 4px;
                border: 2px solid transparent;
                width: 100%;
                height: 220px;
                box-sizing: border-box;
                @include transition();
                object-fit: cover;
            }

            &.slick-current {
                img {
                    border: 2px solid #53B7E8;
                }
            }
        }
    }

    &-parent {
        &__slider {
            padding: 78px 0 0 !important;
            height: 100%;

            &-item {
                img {
                    width: 100%;
                    min-height: 453px;
                    max-height: 453px;
                    object-fit: cover;
                }
            }

            .info {
                bottom: 0;
                height: 100px;
                max-width: 420px;
                width: 100%;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                z-index: 8;
                margin: 10px 0;

                .name {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    margin: 8px 0;
                }
            }
        }

    }

}

.news {
    padding: 138px 0 107px;

    &-slider {
        .news-slider__item {
            display: flex;
        }

        &__img {
            width: 200px;
            min-height: 236px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__information {
            width: calc(100% - 200px);
            padding: 0 16px;
            box-sizing: border-box;

        }
    }

    &__header {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        margin: 4px 0;

        .date {
            font-family: "Roboto";
            padding-right: 23px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: 24px;
                background: $black;
                right: 11px;
                top: -4px;
            }
        }

    }

    &__title {
        max-width: 353px;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0 8px;
    }

    &__description {
        max-width: 353px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

}

.slider {
    padding: 56px 0;
    position: relative;

    .slick-arrow {
        position: absolute;
        right: 0;
        top: 7px;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        background-image: url(../../../../img/profile/slider/slider-arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px;
        font-size: 0;
        cursor: pointer;
    }

    .slick-prev {
        right: 56px;
        background-image: url(../../../../img/profile/slider/slider-arrow-right.svg);
    }
}

@media screen and (max-width: 1279px) {
    .one-section {
        margin-top: 62px;
    }
}

@media screen and (max-width: 1065px) {
    .one-section__right img {
        width: 75%;
    }
    .our-works__description {
        font-size: 20px;
        line-height: 28px;
    }
    .join-us {
        &__item {
            max-width: 280px;
            height: 280px;

            &-4 .join-us__description {
                max-width: 160px;
            }
        }

        &__info img {
            width: 50%;
        }

        &__description {
            font-size: 16px;
            line-height: 20px;
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .our-works {
        &__list {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__item {
            width: 45%;
            margin-bottom: 30px;
        }

    }
    .charts-inner {
        flex-direction: column;
    }
    .charts-left, .charts-right {
        width: 100%;
    }
    .charts-right {
        min-height: 450px;
    }
    .join-us {
        &__list {
            justify-content: space-around;
        }

        &__item {
            max-width: 340px;
            height: 340px;

            &:before {
                content: unset;
            }

            &-3 {
                margin-top: -160px;
                margin-left: 0;
            }

            &-4 {
                margin-top: 0 !important;

                .join-us__description {
                    max-width: 180px;
                }
            }
        }

        &__description {
            font-size: 20px;
            line-height: 24px;
            max-width: 180px;
        }
    }
}

@media screen and (max-width: 800px) {
    .price {
        &__item {
            max-width: 320px;

            &-info {
                .price {
                    display: block;
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .one-section {
        margin-top: 48px;
        box-sizing: border-box;
        height: 550px;
        min-height: auto;

        &__left h1 {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .our-works {
        margin: 75px 0;

        &__item {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .charts-left {
        height: auto;
        margin-top: 50px;
    }
    .join-us {
        &__description {
            max-width: 160px;
            font-size: 16px;
            line-height: 20px;
        }

        &__item {
            max-width: 280px;
            height: 280px;
            margin-left: 0;

            &:nth-child(even) {
                margin-top: 0;
            }

            &-3 {
                margin-top: 0;
            }

            &-4 .join-us__description {
                max-width: 160px;
            }
        }
    }
    .price {
        &__list {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__item {
            max-width: 370px;
            margin: 20px 0;

            &:nth-child(1) {
                margin-top: 0;
            }

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            &-header {
                height: 72px;
                font-size: 32px;
                line-height: 36px;

                &:before {
                    transform: translateX(-50%) scale(0.7);
                }
            }

            &-footer {
                height: 56px;
                font-size: 20px;
                line-height: 24px;
            }
        }
    }
    .about-us {
        padding: 75px 0;

        &__inner {
            flex-wrap: wrap;
        }

        &__left {
            width: 100%;

            .about-us__slider {
                display: none;
            }
        }

        &__right {
            width: 100%;
        }

        &-parent__slider {
            padding: 30px 0 0 !important;

            .info {
                font-size: 20px;
                line-height: 24px;

                .name {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
    .news {
        padding: 75px 0;

        &-slider {
            .news-slider__item {
                flex-direction: column;
            }

            &__img {
                width: 100%;
            }

            &__information {
                width: 100%;
                padding: 0;
            }

            &__img {
                height: 200px;
            }
        }

        &__header {
            margin-top: 20px;
        }
    }
    .news,
    .charts {
        padding: 0;
    }

    .charts {
        &-right {
            flex-direction: column;
            margin: 50px 0;
        }

        &-active {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    .price-block {
        padding: 80px 0 0;
    }
}



