// Vendor (Вендорные стили. Например от плагинов)
@import "vendor/slick";
@import "vendor/jquery.formstyler";
@import "vendor/daterangepicker";
@import "common/all";

// Pages (стили, котрые нужно применить для конкретной страницы)
@import "pages/landing";


.user-select2-container-class {
    height: 60px;
    overflow-y: scroll;
}

.select-subCategory-body {
    margin-left: 60px;
}

.select-subCategory-body .selectSubCategory {
    width: 200px;
    margin-left: 25%;
}
.selectCategory {
    width: 200px;
}

.competition-modal .body-select {
    margin-top: 25px;
}

.error-valid {
    color: red;
    font-size: 12px;
}

.data-processing-policy:hover{
    text-decoration: underline;
}

.download_contract:hover{
    cursor: pointer;
    color:red;
}

.see_more-link{
    display: flex;
    align-items: center;
}







