// Vendor (Вендорные стили. Например от плагинов)
@import "vendor/slick";
@import "vendor/jquery.formstyler";
@import "vendor/daterangepicker";
@import "common/all";

// Pages (стили, котрые нужно применить для конкретной страницы)
@import "pages/user-page";

.error-valid {
    color: red;
    font-size: 12px;
}

.filter-block {
    max-width: 438px;
    width: 100%;
    height: calc(100vh - 103px);
    overflow: auto;
    position: fixed;
    top: 103px;
    right: -100vw;
    z-index: 3;
    background: #FDFEFF;
    box-shadow: 0px -2px 30px #DADADA;
    padding: 24px;
    box-sizing: border-box;
    @include transition();

    .close {
        position: relative;
        width: 24px;
        height: 24px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../../../img/profile/icons/close.svg);
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &.active{
        right: 0;
    }
    .filter-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #1A4860;
    }

    .filter-input {
        margin: 16px 0;

        input {
            border: 1px solid rgba(26, 72, 96, 0.5);
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            padding: 10px;
            height: 40px;
            font-size: 16px;

            &::placeholder {
                color: #1A4860;
            }
        }
    }

    .filter-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .filter-flex__item {
            max-width: 42%;
            width: 100%;
        }
    }

    .range-slider {
        margin-top: -27px;
    }


    .filter-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 32px;

        button {
            margin-bottom: 8px;
        }
    }

    .filter-item {
        margin-bottom: 20px;
    }
}

.user-settings-item {
    .filter-block {
        max-width: 550px;
        position: static;
        box-shadow: unset;
        height: auto;
        padding: 0;
    }

    .filter-input {
        max-width: 436px;
    }
}

.search {
    padding: 8px;
    margin: 24px 0;
    border: 1px solid rgba(26, 72, 96, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    display: flex;

    input {
        border: none;
        outline: none;
        padding: 0 4px;
        box-sizing: border-box;
        width: calc(100% - 24px);
        font-size: 16px;

        &::placeholder {
            color: #1A4860;
        }
    }

    .icon-search {
        background-color: transparent;
        padding: 0;
        width: 24px;
        height: 24px;
        border-color: transparent;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../../../img/profile/icons/search.svg);
        }
    }
}

.filter-area {
    max-height: 250px;
    padding-right: 5px;
    overflow: auto;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 2.5px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 2.5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background-color: #53B7E8;
    }


    &__list {
    }

    &__item {
        margin-bottom: 20px;

        &.active {
            .filter-area__button {
                &::after {
                    opacity: 0;
                }
            }

            .filter-area__body {
                display: block;
            }
        }
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        cursor: pointer;

        .input-checkbox {
            margin: 0;
        }
    }

    &__body {
        display: none;
        .input-checkbox{
            margin: 20px 0;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            right: 0;
            border-radius: 50%;
            background-color: #1A4860;
            @include transition();
        }

        &::after {
            transform: rotate(90deg);
        }
    }
}
.selectCategoryUser, .selectCategoryUserChildes, .select-category-user-not-payed {
    width: 250px;
}

.addSelect {
    cursor: pointer;
}

.select-area__button {
    position: absolute;
    margin-left: 15%;
    margin-top: -14px;
    cursor: pointer;
}
.select-area__button::after, .select-area__button::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    border-radius: 50%;
    background-color: #1A4860;
    transition: all 0.3s ease;
}
.select-area__button::after {
    transform: rotate(90deg);
}

#map-2 {
    min-height: 200px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;

    img {
        width: 100%;
    }
}

.remove, .setting-item .longitude, .setting-item .latitude {
    display: none;
}

.setting-item .find_place {
    background-color:#ffdb4d;
    border: none;
    margin-left:5px;
    width:100px;
    cursor: pointer;
}

.btn-action {
    font-size: 12px;
    margin-top: 10px;
    width: 120px
}

.parent-item .body-select-settings {
    margin-top: 20px;
}
.go-payed {
    margin-left: 2%;
}

.main-content__tab {
    cursor: pointer;
}
.close{
    cursor: pointer;
}
.my-filter, .reject-filter {
    width: 100%;
}
.reject-filter{
    margin-top: 8px;
}
.repeater .form-group.body-select-settings{
    max-width: 625px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select2{
        max-width: calc(100% - 130px);
    }
    .btn{
        margin-top: 0;
    }
}
.input-checkbox-childes {
    max-height: 150px;
    max-width: 625px;
    overflow-y: auto;
    margin-top: 10px;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 2.5px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 2.5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background-color: #53B7E8;
    }
}

.footer__info .number {
    color:white;
}

.blog-general-dynamics .block-datepicker,
.blog-structure .block-datepicker,
.blog-sectoral .block-datepicker {
    max-width:436px;
    margin: 16px 0;
}

.filter-date-report .div-end-range {
    margin-left: 10px;
}
.blog-general-dynamics .block-datepicker .datepicker-report,
.blog-structure .block-datepicker .datepicker-report,
.blog-sectoral .block-datepicker .datepicker-report {
    border: 1px solid rgba(26, 72, 96, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    height: 40px;
    font-size: 16px;
}
.div-periodicity .select2.select2-container.select2-container--default .select2-selection.select2-selection--single {
    height: 39px;
    width: 242px;
    border: 1px solid rgba(26, 72, 96, 0.5);
}

.div-periodicity .select2.select2-container.select2-container--default
.select2-selection.select2-selection--single .select2-selection__rendered,
.div-periodicity .select2.select2-container.select2-container--default
.select2-selection.select2-selection--single .select2-selection__arrow{
    margin-top: 3px;
}

.div-periodicity {
    margin-left: 10px
}

.div-periodicity .filter-input {
    margin-top:16px
}


.error-range-text, .error-range_sectoral, .error-range_structure {
    font-size: 11px;
    color: red;
    display: none;
}

.deadline_timer_show{
    margin-top: 16px;
}
.text-important {
    color: #ff464f;
}

.display_data {
    display: none !important;
}

.selectAppend {
    margin-top: 5px;
}

.delete-not_payed {
    margin-left: 5px;
}


@import "vendor/price-slide";
