.footer {
    background-color: $blue;
    padding: 97px 0 0;
    position: relative;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: $white;
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__item {
        width: 25%;

        &:nth-last-child(1) {
            width: 50%;
        }

        ul {
            margin: 24px 0;

            .map, .email, .phone, .youtube, .facebook, .linkedin {
                font-size: 18px;
                line-height: 24px;
                color: $white;
                padding-left: 40px;
                position: relative;
                display: flex;
                align-items: center;
                @include transition();

                &::before {
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    left: 0;
                }
            }

            .map {
                &:before {
                    background-image: url(../../../../img/profile/icons/map.svg);
                }
            }

            .email {
                &:before {
                    background-image: url(../../../../img/profile/icons/email.svg);
                }
            }

            .phone {
                &:before {
                    background-image: url(../../../../img/profile/icons/phone.svg);
                }
            }

            .youtube {
                &:before {
                    background-image: url(../../../../img/profile/icons/youtube.svg);
                }
            }

            .facebook {
                &:before {
                    background-image: url(../../../../img/profile/icons/facebook.svg);
                }
            }

            .linkedin {
                &:before {
                    background-image: url(../../../../img/profile/icons/linkedin.svg);
                }
            }


            li {
                margin: 16px 0;
                font-size: 18px;
                line-height: 24px;
                color: $white;
                display: flex;
                align-items: center;
                @include transition();

                &:hover {
                    text-decoration: underline;
                }

                a {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        left: 0;
                    }
                }
            }
        }
    }

    &__info {
        font-size: 14px;
        line-height: 24px;
        color: $white;
        padding-bottom: 16px;
    }
}

#map {
    min-height: 200px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 30px;

    img {
        width: 100%;
    }
}

.creative-web-logo {
    text-align: right;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;

    img {
        width: 150px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        &__list {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;

            &:nth-last-child(1) {
                width: 100%;
                margin-top: 30px;
            }
        }

    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__item {
            width: 100%;
            margin-top: 30px;

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}

.footer__item ul .map,
.footer__item ul .map:hover{
    text-decoration: none;
}

