.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    background: $white;
    @media screen and (min-width: 1280px) {
        @include prefix-name(transition, all 200ms ease-out)
    }

    &-top {
        background: $blue;
        width: 100%;
        height: 40px;

        .wrapper {
            height: inherit;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: inherit;

            img {
                max-width: 20px;
            }

            .top-right,
            .top-left {
                color: #fff;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                        color: #fff;

                        img {
                            margin-right: 10px;
                        }

                        a {
                            color: #fff;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 3px 0;
    }

    &-logo {
    }
}

header.kmg-fix {
    top: -45px;
}

@media screen and (max-width: 1279px) {
    header.kmg-fix {
        top: 0;
    }
    .header-top {
        display: none;
    }

}


