.nav {
    &-list {
        display: flex;
        align-items: center;
    }

    &-item {
        margin: 0 20px;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        @include prefix-name(transition, text-decoration 0.3 ease);

        &:hover {
            text-decoration: underline;
        }

        &:nth-child(1) {
            margin-left: 0;
        }

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }

    &-login {
        padding-right: 28px;
        position: relative;
        font-weight: 600;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            right: -3px;
            top: -2px;
            background-image: url(../../../../img/profile//icons/user.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}

.user-page .nav-item {
    margin: 0 12px;

    &:nth-last-child(1) {
        margin-right: 0;
    }
}

.menu__icons {
    display: none;
    width: 25px;
    cursor: pointer;
    position: relative;
    z-index: 11;

    & > div {
        width: 100%;
        height: 2px;
        margin-bottom: 6px;
        @include prefix-name(4px);
        background: #000E2F;
        @include transition();
        position: relative;
        top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-active {
        div {
            &:nth-child(2n) {
                opacity: 0.01;
            }

            &:first-child {
                @include prefix-name(transform, rotate(45deg));
                top: 8px;
            }

            &:last-child {
                @include prefix-name(transform, rotate(-45deg));
                top: -8px;
            }
        }
    }
}

.saved {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../../../img/profile/icons/saved.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover,
    &.active {
        background-image: url(../../../../img/profile/icons/saved-active.svg);
    }
}

.notifications {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../../../../img/profile/icons/notifications.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &.active {
        background-image: url(../../../../img/profile/icons/notifications-active.svg);
    }

    &.has-notifications {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background: #FB2424;
            border-radius: 50%;
            right: 0;
        }
    }
}

@media screen and (max-width: 900px) {
    .nav {
        .nav-list {
            flex-direction: column;
            position: absolute;
            width: 100%;
            background: #fff;
            left: -100vw;
            top: 64px;
            @include transition();
            z-index: 1;
            padding-bottom: 30px;
            .nav-login{
                margin-top: 10px;
                display: block;
            }
            li{
                min-height: 20px;
            }
        }

        .nav-item {
            margin: 10px 0;
            padding: 0 10px;
            box-sizing: border-box;
        }

        &.active {
            display: block;

            .nav-list {
                left: 0;
            }
        }
    }
    .menu__icons {
        display: block;
    }
}
