.table-responsive {
    overflow: auto;
}

.input-absolute {
    position: relative;
}

.input-absolute i {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
}

.permission {
    align-items: center;
}

.notification-body {
    width: 250px !important;
}


.bootstrap-tagsinput {
    border: 1px solid #ddd;
}

.selectUser, .selectManager, .selectAnnouncement, .periodicity {
    width: 250px;
}

.user-select2-container-class {
    height: 60px;
    overflow-y: scroll
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.file-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 20%;
}

#map {
    height: 300px;
    width: 100%;
}


.file-item:not(:last-child) {
    margin-right: 15px;
}

.file-item img {
    object-fit: cover;
}

.file-item i {
    position: absolute;
    cursor: pointer;
    color: #fff;
    background-color: #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;

}

.required::after {
    content: "*";
    color: red;
    margin-left: 2px
}

.competition_type_and_application_form, .data_processing_policy {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    max-width: 500px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.checkbox-container .form-group.sub_sphere {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .form-group.sub_sphere div {
    width: 50%;
}

.delete {
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    border: none;
    background-color: #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12%;
    outline: none;
}

.card-forgot {
    width: 500px;
    display: none;
    right: 33%;
}

.close-text,
.close-forgot {
    z-index: 7;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}


.close-text::before,
.close-forgot::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../../img/profile/icons/close.svg) no-repeat center center;
    right: 0;
    top: 0;
    cursor: pointer;
}

.error-valid {
    color: red;
    font-size: 12px;
}

.card-password, .card-verification {
    display: none;
}


.category-group-item {
    position: relative;
}

.add-form {
    color: #fff;
    border: none;
    margin-left: 5px;
    height: 40px;
}


.off-canvas-sidebar .logo a.logo-mini, .sidebar .logo a.logo-mini {
    display: none;
}

@media (min-width: 991px) {
    .sidebar-mini .sidebar .logo a.logo-mini {
        opacity: block;
    }
}

.logo-image-big {
    max-width: 150px;
    margin: 0 auto;
}

.card-verification {
    height: 150px;
}

.card-verification .text-card-verification {
    margin-top: 50px
}

.sidebar[data-color=default]:after {
    background: #34b5b8;
}

.sidebar[data-active-color=danger] .nav li.active > a {
    color: #000000;
}

.sidebar[data-active-color=danger] .nav li.active > a i {
    color: #000000;
}

.inner-repeater-item_child_input-delete {
    right: -35px;
}

.check_prepayment, .check_provides {
    padding-left: 15px !important;
}

#files-area {
    width: 30%;
    margin: 0 auto;
}

.file-block {
    border-radius: 10px;
    background-color: rgba(144, 163, 203, 0.2);
    margin: 5px;
    color: initial;
    display: inline-flex;

}

.file-block > span.name {
    padding-right: 10px;
    width: max-content;
    display: inline-flex;
}

.file-delete {
    display: flex;
    width: 24px;
    color: initial;
    background-color: #6eb4ff00;
    font-size: large;
    justify-content: center;
    margin-right: 3px;
    cursor: pointer;
}

.file-delete:hover {
    background-color: rgba(144, 163, 203, 0.2);
    border-radius: 10px;
}

.file-delete > span {
    transform: rotate(45deg);
    color: red;
}

.textarea_style {
    border: 1px solid #ddd;
}


.tooltip {
    margin-left: 0;
}

#files-area {
    min-width: 30%;
    width: auto;
    margin: 0 35px;
}

.file-block {
    border-radius: 5px;
    background-color: rgba(144, 163, 203, 0.2);
    margin: 5px;
    color: initial;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.block-datepicker {
    position: relative;
}


.block-datepicker::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../img/profile/icons/calendar.svg);
    opacity: 0.5;
    cursor: pointer;
}

.block-datepicker:hover::before {
    opacity: 1;
}


.select2,
.select2-selection--single {
    height: 42px !important;
    background: transparent !important;
}

.select2-container--classic .select2-selection--single {
    border: none !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    background-color: #fff;
    border: 1px solid #ddd;
    line-height: 42px !important;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 4px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
    border-color: transparent;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(../../../../img/profile/icons/select-arrow.svg);
    top: 12px;
    right: 3px;
    transform: scale(0.7);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    display: none !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ddd;
}

.my_announcement {
    background: #51cbce;
    color: #fff;
}

.media_pdf {
    color: #fff;
}
.media_pdf:hover{
    color: #fff;
}

.notification-dropdown {
    width: 320px;
}

.notification-dropdown:hover i {
    transform: rotate(0deg);
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notification-text {
    flex: 1;
}

.notification-btn {
    width: 20px;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

.notification-close {
    font-size: 16px;
    line-height: 100%;
    outline: none;
}

.ck.ck-editor__editable {
    min-height: 100px;
}

.ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
    min-height: 30px;
    height: 30px;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button {
    min-height: 30px;
    height: 30px;
}

.ck.ck-dropdown .ck-button.ck-dropdown__button.ck-on {
    min-height: 30px;
    height: 30px;
}

.ck.ck-toolbar > .ck-toolbar__items {
    min-height: 30px;
    height: 30px;
}

.date_picker-static {
    height: 42px;
    width: 215px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 1px;
}

.error-range_user, .error-range_announcement, .error-range_manager {
    font-size: 11px;
    color: red;
}

.filter_user-static, .filter_announcement-static, .filter_manager-static {
    margin-top: -1px;
}
.navbar-collapse.show {
    background: #f4f3ef;
}
@media screen and (max-width: 992px) {
    .navbar-collapse.show {
        width: 100%;
        background: #f4f3ef;
    }
    .navbar-collapse.show .navbar-nav {
        padding: 0 15px 10px;
    }

}

.blocked_user, .blocked_manager{
    background: rgba(255, 0, 0, 0.2);
}
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:hover {
    color: #000;
}

#exampleFormControlTextarea1 {
    max-height: 140px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

