// Helpers
@import "../helpers/variables";
@import "../helpers/mixins";

// Common (основные стили.)
@import "default";
//@import "common/fonts";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@500;600;700&family=Roboto:wght@400;700&display=swap');


// Components (мелкие визуальные элементы)
button {
    height: 56px;
    padding: 0 32px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    background: #53B7E8;
    border: 1px solid #53B7E8;
    color: #F8F8F8;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.btn {
    height: 56px;
    padding: 0 32px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    background: #53B7E8;
    border: 1px solid #53B7E8;
    color: #F8F8F8;
    cursor: pointer;
    @include transition();

    &:hover {
        background: #1698d0;
        border: 1px solid #1698d0;
        color: #F8F8F8;
    }

    &-border {
        background: transparent;
        color: #53B7E8;

        &:hover {
            background: transparent;
            border: 1px solid #1698d0;
            color: #53B7E8;
        }
    }

    &-transparent {
        background: transparent;
        border: 1px solid transparent;
        color: #53B7E8;

        &:hover {
            background: transparent;
            border: 1px solid #1698d0;
            color: #53B7E8;
        }
    }

    &-filter {
        padding-left: 0;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        color: $blue;
        position: relative;
        display: flex;
        align-items: center;
        text-transform: unset;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../../../../img/profile/icons/filter.svg);
            background-repeat: no-repeat;
            background-position: center;
            right: 0;
        }
    }
}

label {
    cursor: pointer;
}

// Modules (большие куски. Шапка, футер, продукт)
@import "../modules/header";
@import "../modules/nav";
@import "../modules/footer";

*, body {
    font-family: 'Noto Sans Armenian', 'Roboto';
    font-weight: 500;
    color: $blue;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.wrapper {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.title {
    font-size: 36px;
    line-height: 40px;
}

.sub-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.sub-title-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 16px 0;

    b {
        font-weight: 600;
    }
}


.description {
    font-size: 20px;
    line-height: 28px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.logo {
    max-width: 131px;
    width: 100%;

    img {
        width: 100%;
    }
}

.select {
    max-width: 400px;
    width: 100%;
    border: 2px solid #1A4860;
    box-sizing: border-box;
    border-radius: 4px;
    color: #1A4860;
    cursor: pointer;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../../../../img/profile/icons/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .jq-selectbox__select {
        padding: 8px 5px;
    }

    .jq-selectbox__dropdown {
        width: 100%;
        border: 2px solid #1A4860;
        left: -2px;
        background: $white;

        li {
            margin: 5px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

input {
    outline: none;

    &:focus {
        border-color: #53B7E8 !important;
    }

    &::placeholder {
        color: #1A4860;
        opacity: 0.5;
    }
}

.input-checkbox {
    width: fit-content;
    margin: 14px 0;

    &.input-checkbox-form {
        display: flex;

        label {
            padding: 0 15px;
        }

        .label {
            padding: 0 5px;
        }
    }

    input {
        display: none;
    }

    .label,
    label {
        font-size: 16px;
        line-height: 20px;
        padding: 6px 30px;
        position: relative;
        max-width: 100%;
        width: auto;
        display: block;

        a,
        span {
            color: #53B7E8;
        }
    }

    label {
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid #1A4860;
            box-sizing: border-box;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 7px;
        }
    }

    input:checked + label {
        &:before {
            border: 1px solid #53B7E8;
            background-color: #53B7E8;
            background-image: url(../../../../img/profile//icons/checkbox.svg);
        }
    }
}
.input-plus{
    position: relative;

    .plus{
        content: "+";
        position: absolute;
        background-image: url(../../../../img/plus.png);
        width: 20px;
        height: 20px;
        right: 10px;
        bottom: 10px;
        z-index: 9;
    }
}

.input-register {
    flex-direction: column;
    align-items: flex-start;

    .input-checkbox-form {
        display: flex;
        justify-content: space-between;

        label {
            padding: 0 0 0 30px;
        }

        .label {
            padding: 0;
        }
    }

}

.input-group {
    position: relative;
    margin: 25px 0;

    input {
        @include transition();
        padding: 0px 20px;
        margin: 10px 0px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(26, 72, 96, 0.38);
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        min-height: 56px;
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        color: #1A4860;
        outline: none;

        &::placeholder {
            font-size: 0;
        }
    }

    label {
        @include transition();
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 56px;
        font-size: 18px;
        line-height: 19px;
        padding: 0 20px;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }


    &-active {
        input {
            &::placeholder {
                font-size: 16px;
                opacity: 0.5;
            }
        }

        label {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.0015em;
            margin: 0px 2px;
            top: 0;
            min-height: auto;
            width: fit-content;
            background: $white;
            padding: 0 3px;
            left: 7px;
        }

        .eye {
            cursor: pointer;
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(/img/eye-unshow.svg);
            //url(../../../../img/profile//icons/checkbox.svg)
            background-repeat: no-repeat;
            background-position: center;
            z-index: 9;
            right: 15px;
            bottom: 16px;
            //background: red;

            &.show {
                background-image: url(/img/eye.svg);
            }
        }
    }

    &-now {
        input {
            border-color: #53B7E8;
        }
    }

    &.error {
        small,
        label {
            color: #FB2424;
        }

        input {
            border-color: #FB2424;
        }

        .error-valid {
            position: absolute;
            bottom: -18px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.input-radio {
    input {
        display: none;
    }

    input:checked + label {
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: #53B7E8;
            border: 2px solid #fff;
            box-sizing: border-box;
            border-radius: 50%;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            background: #1A4860;

        }
    }

    label {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        padding-left: 33px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid #1A4860;
            box-sizing: border-box;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}

.new-select {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 4px 0 7px;
    height: 52px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../../../../img/profile/icons/select-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

    }

    &-title {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        padding: 8px 5px;
        cursor: pointer;
        width: 100%;
        position: relative;
        z-index: 3;
    }

    &-bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    &-list {
        display: none;
        position: absolute;
        width: 100%;
        border: 2px solid #000000;
        max-height: 200px;
        overflow: auto;
        top: 49px;
        left: -2px;
        background: $white;
        border-radius: 4px;
        z-index: 3;
    }

    &-item {
        font-size: 18px;
        line-height: 24px;
        padding: 8px 5px;
        color: #000000;
        cursor: pointer;

        input {
            display: none;
        }

        .input-checkbox {
            margin: 0;
        }
    }

    &-active {
        &::before {
            transform: translateY(-50%) rotate(180deg);
        }

        .new-select-list {
            display: block;
        }

        .new-select-bg {
            display: block;
        }
    }

    &_main-filter {
        border-color: rgba($blue, 0.5);
        height: 40px;
        min-width: 240px;
        max-width: 300px;

        .new-select-list {
            top: 37px;
            border-color: rgba($blue, 0.5);

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 2px;
                -webkit-box-shadow: inset 0 0 6px rgba($blue, 0.5);
            }
        }

        .new-select-item {
            font-size: 16px;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        margin: 0 2px;
        cursor: pointer;

        &.active {
            opacity: 0.5;
            cursor: default;
        }
    }

    &__prev {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(180deg);
            background-image: url(../../../../img/profile/slider/slider-arrow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__next {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../../../../img/profile/slider/slider-arrow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.modal {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;

    &__container {
        .sub-title {
            @media screen and (max-width: 450px) {
                font-size: 18px;
            }
        }

        max-width: 616px;
        width: 95%;
        min-height: 250px;
        max-height: 95vh;
        overflow-y: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include prefix-name(transform, translate(-50%, -50%));
        background: $white;
        border-radius: 4px;
        padding: 64px;
        box-shadow: 0px -2px 30px #DADADA;
        margin: 10px auto;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 140%;
    }

    .close {
        position: fixed;
        right: 12px;
        top: 10px;
        z-index: 7;
        width: 100%;
        height: 52px;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url(../../../../img/profile/icons/close.svg) no-repeat center center;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            @include prefix-name(transform, translateY(-50%));

            cursor: pointer;
        }
    }

    .btn {
        width: 100%;
        margin: 8px 0;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    &-form {
        margin: 40px 0 0;

        .description {
            font-size: 16px;
            line-height: 20px;
        }


        &__more {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: -10px 0 24px;

            .remove {
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}

.phone-call {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 5;

    &-btn {
        width: 64px;
        height: 64px;
        background-color: #00A775;
        border-color: #00A775;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            position: relative;
            display: flex;
            width: 64px;
            height: 64px;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                width: 32px;
                height: 32px;
                background-image: url(../../../../img/profile/icons/phone-call.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &:after,
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: -15px;
            left: -15px;
            bottom: -15px;
            right: -15px;
            -webkit-animation: 1.5s ease-in-out 0s normal none infinite running scroll-down-anim;
            animation: 1.5s ease-in-out 0s normal none infinite running scroll-down-anim;
            @include prefix-name(50%);
            border: 3px solid #FFFFFF;
            opacity: 0;
            @-webkit-keyframes scroll-down-anim {
                0% {
                    @include prefix-name(transform, scale(0.5));
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    @include prefix-name(transform, scale(1.2));
                    opacity: 0;
                }
            }

            @-moz-keyframes scroll-down-anim {
                0% {
                    @include prefix-name(transform, scale(0.5));
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    @include prefix-name(transform, scale(1.2));
                    opacity: 0;
                }
            }

            @-o-keyframes scroll-down-anim {
                0% {
                    @include prefix-name(transform, scale(0.5));
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    @include prefix-name(transform, scale(1.2));
                    opacity: 0;
                }
            }

            @keyframes scroll-down-anim {
                /*------------------------------
                      6.13 CMS Process
                  ------------------------------*/
                0% {
                    @include prefix-name(transform, scale(0.5));
                    opacity: 0;
                }
                50% {
                    opacity: 1;
                }
                100% {
                    @include prefix-name(transform, scale(1.2));
                    opacity: 0;
                }
            }
        }

        &:after {
            animation-delay: .5s;
            border: 3px solid #00A775;
        }

        &:hover {
            &:after,
            &:before {
                animation: none;
            }
        }

        &:hover {
            animation: pulse 1s ease infinite;
        }
    }

    &__list {
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-top: 16px;
    }

    &__item {
        margin-bottom: 20px;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}

b {
    font-weight: bold;
}

#phone-call {
    .sub-title {
        font-weight: 500;
        padding-right: 32px;
    }
}

a.email,
a.phone {
    font-size: 24px;
    line-height: 1;
    padding-left: 40px;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 450px) {
        font-size: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        left: 0;
    }
}

a.phone {
    &:before {
        background-image: url(../../../../img/profile/icons/phone.svg);
    }
}

a.email {
    &:before {
        background-image: url(../../../../img/profile/icons/email.svg);
    }
}

@media screen and (max-width: 767px) {
    .btn {
        font-size: 16px;
        line-height: 20px;
        height: 48px;
    }
    .title {
        font-size: 28px;
        line-height: 32px;
    }
    .description {
        font-size: 16px;
        line-height: 20px;
    }
    .phone-call {
        bottom: 20px;
        right: 20px;
    }
    .modal__container {
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        max-width: 95%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1);
    }
}

#reg-checkbox {
    &.input-checkbox label:before {
        top: 4px;
        transform: unset;
    }
}

.modal-form__more .remove:hover {
    text-decoration: underline;
}

.competition-modal {
    .input-checkbox-appends {
        max-height: 150px;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #F5F5F5;
            border-radius: 2.5px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 2.5px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2.5px;
            background-color: #53B7E8;
        }
    }

    .btn-body-competition {
        margin-left: auto;
        margin-top: 20px;
    }
}

.modal .form-group .select2 {
    max-width: 500px;
    width: 100% !important;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #1A4860;
    border-width: 1px;
}

.form-group {
    .select2-container--classic .select2-selection--single .select2-selection__placeholder {
        color: $blue;
        opacity: 0.5;
    }

    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
        background-image: url(../../../../img/profile/icons/select-arrow.svg);
    }

    .select2,
    .select2-selection--single {
        max-width: 500px;
        width: 100% !important;
        height: 50px;
        border: none !important;
        background: transparent;

        .select2-selection__rendered {
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid #1A4860;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            font-weight: bold;
            color: $blue;
        }

        .select2-selection__arrow {
            border-color: transparent;
            background-color: transparent;
            background-image: url(../../../../img/profile/icons/select-arrow.svg);
            background-repeat: no-repeat;
            background-position: center left;
            top: 12px;
            right: 15px;

            b {
                display: none;
            }
        }
    }
}

.block-datepicker {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../../../img/profile/icons/calendar.svg);
        opacity: 0.5;
        cursor: pointer;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.main .delete-select {
    height: 50px !important;
}

.user-settings-item {
    //opacity: 0;
    //visibility: hidden;
    //position: absolute;
    //left: 200vw;
    display: none;
    //@include transition();
    &.active {
        display: block;
        //position: relative;
        //visibility: visible;
        //opacity: 1;
        //left: auto;
    }
}

.main-content.main-full {
    padding-left: 0;
}

.main-textarea {
    padding-left: 0;

    h1, h2, h3, h4, h5, h6 {
        margin: 20px 0;
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 140%;
    }

    .sub-title {
        font-weight: 500;
    }
}

.modal__container h1 {
    font-size: 20px;
    line-height: 1.4;
}

.info {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #00A775;
}

.file-block {
    border-radius: 5px;
    background-color: rgba(144, 163, 203, 0.2);
    margin: 0 5px;
    color: initial;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.mb-5 {
    margin-bottom: 25px !important;
}

.marker {
    background: #ffff00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.main .btn {
    height: 48px;
    padding: 0 23px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.filter-area__item .filter-area__body{
    padding-left: 10px;
}


.d-none{
    display: none;
}
